body {
	font-family: Arial, sans-serif;
	font-size: 13px;
	background: url("../img/background.jpg") no-repeat;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	color: white;
}

button {
	font-size: 16px;
}

div.info {
	margin: 15px 0;
}

div.info * {
	color: white;
	text-shadow: 1px 1px 0 #000000D0;
}

#icons {
	display: none;
}